<!DOCTYPE html>
<html>
<head>
  <title>Vanity ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    html, body {
      font-family: sans-serif;
    }
  </style>
</head>
<body>
<h1>Vanity UI</h1>
<hr />
<section>
<%= yield %>
</section>
</body>
</html>
